<h1>Bienvenue</h1>

<style type="text/css">
  /* From https://jrl.ninja/etc/1/ */
  body {
    max-width: 20rem;
    padding: 2rem;
    margin: auto;
  }

  .warning {
    padding: 0.2em;
    background-color: #ffbb78
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  form > * {
    display: flex;
    flex-direction: column;
    padding: 0.2em;
  }
</style>

{{#error}}
<p class="warning">{{error}}</p>
{{/error}}

<h2>Connexion</h2>
<form method="post">
  <div>
    <label for="username">Email&nbsp;:</label>
    <input id="username" name="username">
  </div>
  <div>
    <label for="password">Mot de passe&nbsp;:</label>
    <input id="password" name="password" type="password">
  </div>
  <button type="submit">Se connecter</button>
</form>

<h2>Création de compte</h2>
<form action="/user/create" method="post">
  <div>
    <label for="newEmail">Email&nbsp;:</label>
    <input id="newEmail" name="newEmail">
  </div>
  <div>
    <label for="newPassword">Mot de passe&nbsp;:</label>
    <input id="newPassword" name="newPassword" type="newPassword">
  </div>

  <div>
    <label for="lastName">Nom de famille :</label>
    <input id="lastName" name="lastName" type="lastName">
  </div>

  <div>
    <label for="firstName">Prénom :</label>
    <input id="firstName" name="firstName" type="firstName">
  </div>

  <div>
    <label for="role">Rôle :</label>
    <input id="role" name="role" type="role">
  </div>

  <div>
    <label for="unit">Unité :</label>
    <input id="unit" name="unit" type="unit">
  </div>

  <div>
    <label for="department">Départment :</label>
    <input id="department" name="department" type="department">
  </div>

  <button type="submit">Créer un compte</button>
</form>
