<h1>Bienvenue</h1>

<style type="text/css">
  /* From https://jrl.ninja/etc/1/ */
  body {
    max-width: 20rem;
    padding: 2rem;
    margin: auto;
  }

  .warning {
    padding: 0.2em;
    background-color: #ffbb78
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  form > * {
    display: flex;
    flex-direction: column;
    padding: 0.2em;
  }
</style>

<% if(locals.error) { %>
  <p class="warning"><%= error %></p>
<% } %>

<form method="post">
  <div>
    <label for="email">Email&nbsp;:</label>
    <input id="email" name="email">
  </div>
  <div>
    <label for="password">Mot de passe&nbsp;:</label>
    <input id="password" name="password" type="password">
  </div>
  <div>
    <label for="firstName">Prénom&nbsp;:</label>
    <input id="firstName" name="firstName">
  </div>
  <div>
    <label for="lastName">Nom&nbsp;:</label>
    <input id="lastName" name="lastName">
  </div>
  <div>
    <label for="role">Rôle :</label>
    <select id="role" name="role">
      <option value="ROLE_ADMIN_D" selected>Admin local</option>
      <option value="ROLE_ADMIN_N">Admin national</option>
    </select>
  </div>
  <div>
    <label for="unit">Unité :</label>
    <select id="unit" name="unit">
      <option value="SAMU">SAMU</option>
      <option value="ST(SI)²">ST(SI)²</option>
      <option value="Sécurité Civile">Sécurité Civile</option>
      <option value="DINSIC">DINSIC</option>
    </select>
  </div>

  <div>
    <label for="department">Départment :</label>
    <select id="department" name="department">
      <option value="85">85</option>
      <option value="France entière">France entière</option>
    </select>
  </div>
  <button type="submit">Créer un compte</button>
</form>
