<% if(locals.message) { %>
  <p class="info"><%= message %></p>
<% } %>

<h1 class="main">Nouveau mot de passe</h1>

<style type="text/css">
  /* From https://jrl.ninja/etc/1/ */
  body {
    max-width: 20rem;
    padding: 2rem;
    margin: auto;
  }

  .warning {
    padding: 0.2em;
    background-color: #ffbb78
  }

  .info {
    padding: 0.2em;
    background-color: #39ffba
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  form > * {
    display: flex;
    flex-direction: column;
    padding: 0.2em;
  }
</style>

<% if(locals.error) { %>
  <p class="warning"><%= error %></p>
<% } %>

<form class="main" method="post">
  <input type="hidden" name="id" value="<%= user ? user.id : 0 %>">
  <div>
    <label for="password">Nouveau mot de passe&nbsp;:</label>
    <input id="password" name="password" type="password">
  </div>
  <div>
    <label for="passwordConfirmation">Confirmation du nouveau mot de passe :</label>
    <input id="passwordConfirmation" name="passwordConfirmation" type="password">
  </div>

  <button type="submit">Modifier mon mot de passe</button>
</form>
